@font-face {
  font-family: 'Open-Sans';
  src: local(''), url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: local(''), url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: local(''), url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'), url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Open-Sans', sans-serif;
}

html {
  font-size: 20px;
}

body {
  background-color: #E5E5E5;
}

li {
  font-size: 0.7rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #9873FF;
}

/* .container {
  background-color: #E5E5E5;
} */

.clients__list {
  background-color: #FFFFFF;
}

.clients__list-item {
  min-height: 60px;
  /* outline: 1px solid red; */
  border-bottom: 1px solid #C8C5D1;
}

.clients__list-id {
  width: 110px;
  margin-right: 40px;
}

.clients__list-name {
  margin-right: 40px;
  width: 250px;
}

.clients__list-create-datetime, .clients__list-update-datetime {
  margin-right: 40px;
}

.clients__list-id, .clients__list-create-time, .clients__list-update-time {
  color: #B0B0B0;
}

.clients__list-contacts-list {
  margin-right: 40px;
  width: 108px;
}

.clients__list-change-button {
  margin-right: 30px;
}

.contact-hidden {
  display: none;
}

.VK {
  width: 16px;
  height: 16px;
  background-image: url('../img/vk.svg');
}

.FB {
  width: 16px;
  height: 16px;
  background-image: url('../img/fb.svg');
}

.mail {
  width: 16px;
  height: 16px;
  background-image: url('../img/mail.svg');
}

.phone {
  width: 16px;
  height: 16px;
  background-image: url('../img/phone.svg');
}

.other {
  width: 16px;
  height: 16px;
  background-image: url('../img/other.svg');
}

.show-contact-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #9873FF;
  font-size: 8px;
  text-decoration: none;
  color: black;
}

.show-contact-button:hover {
  color: #9873FF;
}

.change-element-icon {
  width: 16px;
  height: 16px;
  background-image: url('../img/change.svg');
}

.delete-element-icon {
  width: 16px;
  height: 16px;
  background-image: url('../img/delete.svg');
}
