@font-face {
  font-family: 'Open-Sans';
  src: local(''), url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: local(''), url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: local(''), url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'), url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Open-Sans', sans-serif;
}

html {
  font-size: 20px;
}

body {
  background-color: #f5f5f5;
}

li {
  font-size: 0.7rem;
}


a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #9873FF;
}

input:focus{
  outline: none;
}

#app {
  position: relative;
}

/* Переменные проекта */

:root{

  /* Цвета */

  --txt-grey: #B0B0B0;
  --black: #333;


  /* Конфигурирование спиннера */
	--loader-width: 70px;
	--loader-height: 70px;
	--loader-color-primary: #9873FF;
	--loader-color-secondary: #eee;
	--line-width: 10px;
	--animation-duration: 2s;
	--loader-initial-scale: 0.1;
}


/* Иконки */

svg {
  pointer-events: none;
}

.svg-icon g {
  transition: opacity .3s ease-in-out;
}

.svg-icon:hover g{
  opacity: 1;
}

a:hover .svg-icon g{
  opacity: 1;
}



.VK {
  width: 16px;
  height: 16px;
}

.FB {
  width: 16px;
  height: 16px;
}

.mail {
  width: 16px;
  height: 16px;
}

.phone {
  width: 16px;
  height: 16px;
}

.other {
  width: 16px;
  height: 16px;
}

.show-contact-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #9873FF;
  font-size: 8px;
  text-decoration: none;
  color: black;
  transition: color .3s ease-in-out, border-color .3s ease-in-out;
}

.show-contact-button:hover {
  color: #9873FF;
  border-color: #9873FF;
}

 /* Для звездочек в модальном окне */

.asterisk {
  color: #9873FF;
}

.scroll-disable {
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  top: -100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  transition: top .3s ease-in-out;
}

.hidden {
  display: none;
}

/* Шапка страницы */

.header {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
  margin-bottom: 40px;
}

.header__content {
  min-width: 1280px;
}

.header__logo {
  margin-right: 53px;
}

.header__search-stack {
  position: relative;
}

.header__search-input {
  position: relative;
  display: inline-block;
  width: 581px;
  height: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.header__search-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--txt-grey);
}

.header__matching-items {
  display: flex;
  top: 44px;
  position: absolute;
  flex-direction: column;
  background-color: #fff;
}

.header__matching-item {
  padding: 10px;
  display: inline-flex;
  border: 1px solid blue;
}

.header__matching-item:hover {
  background-color: cyan;
  cursor: pointer
}

.header__matching-item_active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/* Контент модального окна */





/* Шапка модального окна */


.clients__container {

}

.clients__title {
  margin-bottom: 26px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  color: var(--black);
}

.clients__header {
  margin-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  color: var(--txt-grey);
}

.clients__header-id {
  width: 105px;
  margin-right: 30px;
  color: var(--txt-grey);
}

.clients__header-name {
  margin-right: 40px;
  width: 210px;
  color: var(--txt-grey);
}

.clients__header-creation-datetime, .clients__header-change-datetime {
  width: 150px;
  margin-right: 20px;
  color: var(--txt-grey);
}

.clients__header-contacts {
  margin-right: 40px;
  width: 108px;
  color: var(--txt-grey);
}

.clients__header-actions {
  width: 100px;
  color: var(--txt-grey);
}

/* Стрелочки в шапке таблицы */

.arrow-up {
  display: inline-flex;
}

.arrow-down {
  display: inline-flex;
  transform: rotate(180deg);
}

.arrow-hidden {
  display: none;
}

/* Таблица с клиентами */

.clients__clients-list {
  padding: 0;
  margin-right: 0;
  margin-bottom: 40px;
  font-size: 14px;
  background-color: #FFFFFF;
}

.clients__clients-item {
  min-height: 60px;
  padding: 20px;
  border-bottom: 1px solid #C8C5D1;
}

/* Элементы таблицы с клиентами */

.clients__clients-item-id {
  width: 105px;
  margin-right: 30px;
}

.clients__clients-item-name {
  margin-right: 40px;
  width: 210px;
}

.clients__clients-item-creation-datetime, .clients__clients-item-change-datetime {
  width: 150px;
  margin-right: 20px;
}

.clients__clients-item-creation-date, .clients__clients-item-change-date {
  margin-right: 10px;
}

.clients__clients-item-id, .clients__clients-item-creation-time, .clients__clients-item-change-time {
  color: #B0B0B0;
}

.clients__clients-item-contacts-list {
  margin-right: 40px;
  width: 108px;
}

.contact-hidden {
  display: none;
}

.clients__clients-contact-item {
  position: relative;
  width: 16px;
  height: 16px;
}

.clients__clients-contact-item:hover .tooltip-block{
  display: block;
}

/* Подсказки у контактов */

.tooltip-block {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tooltip-body {
  margin: 0;
  min-width: 40px;
  padding: 7px 15px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  background-color: #666;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 12.1px 7px;
  border-color: transparent transparent #666 transparent;
  bottom: -30%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
      -ms-transform: translate(-50%, -50%) rotate(60deg);
          transform: translate(-50%, -50%) rotate(60deg);
}

/* Кнопка после таблицы с клиентами */

.clients__add-contact-button {
  border: 1px solid #9873FF;
  color: #9873FF;
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
}

.clients__add-contact-button:hover {
  border-color: #B89EFF;
  color: #B89EFF;
}

.clients__add-contact-button .clients__add-contact-icon g path {
  transition: fill .3s ease-in-out;
}

.clients__add-contact-button:hover .clients__add-contact-icon g path {
  fill: #B89EFF;
}


.modal {
  width: 450px;
  height: 492px;
  /* padding: 30px; */
}

.modal_confirm {
  width: 450px;
  height: 215px;
}

.modal__content {
  overflow-y: auto;
}

.modal__header {
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.modal__title {
  margin-right: 9px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.modal__title_confirm-delete {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.modal__question-text {
  max-width: 275px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}


.modal__id {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--txt-grey);
}

.modal__fullname {
  margin: 0 30px 25px;
}

.modal__name-label, .modal__surname-label, .modal__lastName-label {
  font-size: 10px;
  line-height: 14px;
  color: var(--txt-grey);
}

.modal__name, .modal__surname, .modal__lastName {
  padding: 0;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

.modal__name, .modal__surname {
  margin-bottom: 15px;
}

.modal__contacts-container {
  margin-bottom: 25px;
  padding: 25px 30px;
  background-color: rgba(200, 197, 209, .2);
}

.modal__contacts-list {
  margin-bottom: 25px;
}


.choices {
  width: 123px;
  margin-bottom: 0;
}

.choices {
  width: 123px;
  margin-bottom: 0;
}

.choices__inner {
  min-height: 0 !important;
  background-color: #E7E5EB;
  border-radius: 0%;
}

.is-flipped.is-open .choices__inner {
  border-radius: 0% !important;
}

.choices[data-type*="select-one"] .choices__inner {
  min-height: 0 !important;
  height: 100% !important;
  padding: 7px 12px !important;
}

.choices[data-type*="select-one"]::after {
  width: 5px;
  height: 5px;
  margin-top: -1.5px;
  border-style: none;
  border-top: 1px solid #9873FF;
  border-left: 1px solid #9873FF;
  transform: rotate(45deg);
}

.choices[data-type*="select-one"].is-open::after {
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  border-style: none;
  border-top: 1px solid #9873FF;
  border-left: 1px solid #9873FF;
  transform: rotate(225deg);
}

.choices__list--single {
  padding: 0;
}

.choices__item--selectable {
  padding-right: 0 !important;
}

.modal__contacts-input {
  background-color: transparent;
  border: 1px solid #C8C5D1;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}

.modal__contacts-item {
  /* height: 37px; */
}

.modal__contacts-delete-button {
  min-width: 27px;
  /* height: 37px; */
  border: 1px solid #C8C5D1;
  transition: border-color ease-in-out .3s;
}

.modal__contacts-delete-button:hover {
  border-color: #F06A4D;
}

.modal__client-save-button {
  width: 147px;
  height: 44px;
  margin-bottom: 5px;
  padding: 12.5px 35px;
  background-color: #9873FF;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #fff;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.modal__client-save-button:hover {
  background-color: #B89EFF;
  color: #fff;
}

.modal__client-delete-button {
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: underline;
  transition: color .3s ease-in-out, text-decoration-color .3s ease-in-out;
}

.modal__client-delete-button:hover {
  text-decoration: underline;
}

.new-client-cancel-button {
  color: #333333;
  text-decoration: underline;
}

.new-client-cancel-button {
  color: #333333;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color .3s ease-in-out, text-decoration-color .3s ease-in-out;
}

.new-client-cancel-button:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #000;
}

.modal__contacts-delete-button .modal__contacts-delete-icon g path{
  transition: fill ease-in-out .3s;
}

.modal__contacts-delete-button:hover .modal__contacts-delete-icon g path{
  fill: #F06A4D;
}

.modal__add-contact-text {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}

.modal__add-contact-button {
  transition: color ease-in-out .3s;
}

.modal__add-contact-button .modal__add-contact-icon g path{
  transition: fill ease-in-out .3s;
}

.modal__add-contact-button:hover .modal__add-contact-icon g path{
  fill: #9873FF;
}

.clients__clients-item-change-button {
  margin-right: 30px;
}

.clients__clients-item-change-button, .clients__clients-item-delete-button {
  transition: color .3s ease-in-out;
}

.clients__clients-item-change-button:hover .svg-icon g{
  opacity: 1;
}

.clients__clients-item-delete-button:hover .svg-icon g{
  opacity: 1;
}

.change-element-icon {
  width: 16px;
  height: 16px;
}

.clients__clients-item-change-button:hover {
  text-decoration: none;
  color: #9873FF;
}

.delete-element-icon {
  width: 16px;
  height: 16px;
}

.clients__clients-item-delete-button:hover {
  text-decoration: none;
  color: #F06A4D;
}


.clients__add-contact-button {
  /* width: 216px; */
  height: 44px;
  padding: 12.5px 26.5px;
}

.clients__add-contact-icon {
  margin-right: 10px;
}

.clients__add-contact-text {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}



/* Спиннеры */


.loader,.loader:before,.loader:after{
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
}


@keyframes circle-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader.simple-circle {
    transform-origin: center center;
    border: var(--line-width, 10px) solid var(--loader-color-secondary, #fff);
    border-right-color: var(--loader-color-primary, #00f);
    width: var(--loader-width, 100px);
    height: var(--loader-height, 100px);
    border-radius: 50%;
    animation: circle-loader var(--animation-duration, 1s) infinite ease-out;
}

.spinner-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.spinner-container_visible {
  display: flex;
}

.spinner-container_bg-white {
  background-color: #fff;
}

.spinner-container_bg-transparent {
  top: 0;
  position: absolute;
  z-index: 100;
  background-color: #333333;
  opacity: 0.6;
}



