@font-face {
  font-family: 'Open-Sans';
  src: local(''), url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: local(''), url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: local(''), url('../fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'), url('../fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Open-Sans', sans-serif;
}

html {
  font-size: 20px;
}

body {
  background-color: #E5E5E5;
}

li {
  font-size: 0.7rem;
}


a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #9873FF;
}

input:focus{
  outline: none;
}

.asterisk {
  color: #9873FF;
}

.scroll-disable {
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  top: -100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  transition: top .3s ease-in-out;
}

.content {
  /* font-size: 12px; */
  overflow-y: auto;
}

.choices {
  margin-bottom: 0;
  width: 40%;
}

.clients__header {
  font-size: 10px;
}

.clients__id {
  width: 110px;
  margin-right: 40px;
}

.clients__name {
  margin-right: 20px;
  width: 250px;
}

.clients__create-datetime {
  width: 130px;
  margin-right: 18px;
}

.clients__update-datetime {
  width: 130px;
  margin-right: 20px;
}

.clients__contacts {
  margin-right: 40px;
  width: 108px;
}

.clients__actions {
  width: 100px;
}

.arrow-up {
  display: inline-flex;
}

.arrow-down {
  display: inline-flex;
  transform: rotate(180deg);
}

.arrow-hidden {
  display: none;
}

.clients__list {
  background-color: #FFFFFF;
}

.clients__list-item {
  min-height: 60px;
  border-bottom: 1px solid #C8C5D1;
}


.clients__list-id {
  width: 110px;
  margin-right: 40px;
}

.clients__list-name {
  margin-right: 20px;
  width: 250px;
}

.clients__list-create-datetime, .clients__list-update-datetime {
  margin-right: 40px;
}

.clients__list-id, .clients__list-create-time, .clients__list-update-time {
  color: #B0B0B0;
}

.clients__list-contacts-list {
  margin-right: 40px;
  width: 108px;
}

.contact-hidden {
  display: none;
}

.contact-item {
  width: 16px;
  height: 16px;
}

.contact-delete-button {
  width: 10%;
  border: 1px solid #C8C5D1;
  transition: border-color ease-in-out .3s;
}

.contact-delete-button:hover {
  border-color: #F06A4D;
}

.contact-save-button {
  background-color: #9873FF;
  color: #fff;
  transition: background-color .3s ease-in-out;
}

.contact-save-button:hover {
  background-color: #B89EFF;
  color: #fff;
}

.client-delete-button {
  text-decoration: underline;
  transition: color .3s ease-in-out, text-decoration-color .3s ease-in-out;
}

.client-delete-button:hover {
  text-decoration: underline;
}

.new-client-button {
  border: 1px solid #9873FF;
  color: #9873FF;
  transition: border-color .3s ease-in-out, color .3s ease-in-out;
}

.new-client-button:hover {
  border-color: #B89EFF;
  color: #B89EFF;
}

.new-client-button .new-client-icon g path {
  transition: fill .3s ease-in-out;
}

.new-client-button:hover .new-client-icon g path {
  fill: #B89EFF;
}

.new-client-cancel-button {
  color: #333333;
  text-decoration: underline;
}

.new-client-cancel-button {
  color: #333333;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color .3s ease-in-out, text-decoration-color .3s ease-in-out;
}

.new-client-cancel-button:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #000;
}

.contact-delete-button .contact-delete-icon g path{
  transition: fill ease-in-out .3s;
}

.contact-delete-button:hover .contact-delete-icon g path{
  fill: #F06A4D;
}

.add-contact-button {
  transition: color ease-in-out .3s;
}

.svg-icon g {
  transition: opacity .3s ease-in-out;
}

.svg-icon:hover g{
  opacity: 1;
}

.VK {
  width: 16px;
  height: 16px;
}

.FB {
  width: 16px;
  height: 16px;
}

.mail {
  width: 16px;
  height: 16px;
}

.phone {
  width: 16px;
  height: 16px;
}

.other {
  width: 16px;
  height: 16px;
}

.show-contact-button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #9873FF;
  font-size: 8px;
  text-decoration: none;
  color: black;
  transition: color .3s ease-in-out, border-color .3s ease-in-out;
}

.show-contact-button:hover {
  color: #9873FF;
  border-color: #9873FF;
}

.clients__list-change-button {
  margin-right: 30px;
}

.clients__list-change-button, .clients__list-delete-button {
  transition: color .3s ease-in-out;
}

.clients__list-change-button:hover .svg-icon g{
  opacity: 1;
}

.clients__list-delete-button:hover .svg-icon g{
  opacity: 1;
}

.change-element-icon {
  width: 16px;
  height: 16px;
}

.clients__list-change-button:hover {
  text-decoration: none;
  color: #9873FF;
}

.delete-element-icon {
  width: 16px;
  height: 16px;
}

.clients__list-delete-button:hover {
  text-decoration: none;
  color: #F06A4D;
}

